<h1>Lista de Propuestas</h1>
<table class="table table-bordered">
  <tr>
    <th>Título</th>
    <th>Autor</th>
  </tr>
  <% Proposal.all.each do |proposal| %>
  <tr>
    <td>
      <%= proposal.title %>
    </td>
    <td>
      <%= proposal.author %>
    </td>
    <td>
      <%= link_to 'Description', url_for(:proposals, :description => proposal.id), :class => "btn btn-primary" %>
    </td>   
  </tr>

  <% end %>