<% unless session[:user] %>
    <div class="col-md-4 col-md-offset-4">

      <h3 id="input-groups" class="page-header"><%= t("user.log_in.sign_in") %></h3>

      <a id="github-login" href="/auth/github" class="btn btn-block btn-social btn-lg btn-github">
        <i class="fa fa-github"></i>
        <%= t("user.log_in.github") %>
      </a>

      <a id="linkedin-login" href="/auth/linkedin" class="btn btn-block btn-social btn-lg btn-linkedin">
        <i class="fa fa-linkedin"></i>
        <%=t("user.log_in.linkedin") %>
      </a>
    </div>
<% end %>