<div class="container">

  <h2><%= t('admin.conference.title') %></h2>

  <form class="form-horizontal col-md-4">
    <div class="form-group">
      <label for="revisionsPerProposal"><%= t('admin.conference.revisions_per_proposal') %></label>
      <input type="number" class="form-control" id="revisionsPerProposal">
    </div>
    <button type="button" class="btn btn-danger"><%= t('admin.conference.save') %></button>
  </form>

</div>
