<!DOCTYPE html>
<html lang="es-AR">
  <head>
    <title>TOD - Organizador de conferencias</title>
  </head>
  <body>
    <%= yield %>
    <%= stylesheet_link_tag '/assets/application' %>
    <%= javascript_include_tag '/assets/application' %>
  </body>
</html>
